CNN/data/cifar-10-batches-py/batches.meta
CNN/data/cifar-10-batches-py/data_batch_1
CNN/data/cifar-10-batches-py/data_batch_2
CNN/data/cifar-10-batches-py/data_batch_3
CNN/data/cifar-10-batches-py/data_batch_4
CNN/data/cifar-10-batches-py/data_batch_5
CNN/data/cifar-10-python.tar.gz
GAN/FashionMNIST/*
